# Default ignored files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Byte-compiled / optimized / DLL files
map_2D/**/__pycache__/
*.py[cod]
*$py.class
*.pyc

